html{
  scroll-behavior: smooth;
}

#root {
  width: 100%;
}

body{
  background-color: #0d0f14;
}

/* ------------------------------------------- */

.header{
  border-bottom: 1px solid rgb(52,56,65);
}

.cont-header{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 5rem;
  /* max-width: 1536px; */
  max-width: 1320px;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont-header .logo{
  display: flex;
  align-items: center;
  gap: .6rem;
  cursor: pointer;
}

.cont-header .logo img{
  width: 32px;
  height: 32px;
  margin-bottom: 3px;
}

.cont-header h2{
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.header .principal{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header .menu ul{
  display: flex;
  gap: 4rem;
}

.header .menu ul a{
  font-size: 1.1rem;
  font-weight: 400;
  color: #f2f6fA;
  transition: all .2s;
}

.header .menu ul a:hover{
  color: #b9bec2;
}

.header .redes{
  display: flex;
  gap: 1rem;
}

.header .redes div{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .redes img{
  width: 32px;
  height: 32px;
}

/* ------------------------------------------- */

.footer{
  background-color: #17193983;
  border-top: 1px solid rgb(52,56,65);
}

.cont-footer{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 3.5rem;
  max-width: 1320px;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(180, 180, 180);
  font-size: 0.9rem;
}

.cont-footer .redes{
  display: flex;
  gap: 1rem;
}

.cont-footer .redes img{
  width: 20px;
  height: 20px;
  filter: brightness(0.8);
}


