html{
  scroll-behavior: smooth;
}

#root {
  width: 100%;
}

*{
  box-sizing: border-box;
}

body{
  background-color: #0d0f14;
}

/* ------------------------------------------- */

.header{
  border-bottom: 1px solid rgb(52,56,65);
}

.cont-header{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 5rem;
  /* max-width: 1536px; */
  max-width: 1320px;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.cont-header .logo{
  display: flex;
  align-items: center;
  gap: .6rem;
  cursor: pointer;
}

.cont-header .logo img{
  width: 32px;
  height: 32px;
  margin-bottom: 3px;
}

.cont-header h2{
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.header .principal{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5rem;
}

.header .menu{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header .menu ul{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header .menu ul a{
  font-size: 1.1rem;
  font-weight: 400;
  color: #f2f6fA;
  transition: all .2s;
}

.header .menu ul a:hover{
  color: #b9bec2;
}

.header .menu-bars{
  display: flex;
  gap: 2.2rem;
}

.header .bars{
  display: none;
  height: 36px;
}

.header .bars button{
  width: 30px;
  background: none;
  border: none;
  margin-top: 3px;
}

.header .bars button img{
  width: 26px;
  filter: invert(1);
}

.header .redes{
  display: flex;
  gap: 1rem;
}

.header ul .redes {
  display: none;
}

.header .redes div{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .redes img{
  width: 32px;
  height: 32px;
}

@media (max-width: 1024px) {

  .header .menu{
    justify-content: flex-end;
  }

  .header .menu ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    position: absolute;
    top: 5.1rem;
    left: -100%;
    z-index: 100;
    gap: 0;
    opacity: 0;
    background-color: rgba(13, 15, 20, 0.99);
    transition: all .2s;
  }

  .header .menu ul li{
    width: 100%;
    height: auto;
    padding: 1.5rem 2.3rem;
    border-bottom: 1px solid rgb(52,56,65);
  }

  .header .menu ul li a{
    font-family: 'Exo', sans-serif;
    font-size: 2.4rem;
  }

  .header .menu ul .redes{
    padding-bottom: 3rem;
  }

  .header .menu ul .redes img{
    width: 45px;
    height: 40px;
  }

  .header ul .redes {
    display: flex;
  }

  .header .bars{
    display: flex;
    align-items: center;
  }
}

@media (max-width: 640px) {

  .header .menu .redes{
    display: none;
  }

  .header .menu ul .redes{
    display: flex;
  }

}

/* ------------------------------------------- */

.footer{
  background-color: #17193983;
  border-top: 1px solid rgb(52,56,65);
}

.cont-footer{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 3.5rem;
  max-width: 1320px;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(180, 180, 180);
  font-size: 0.9rem;
}

.cont-footer .redes{
  display: flex;
  gap: 1rem;
}

.cont-footer .redes img{
  width: 20px;
  height: 20px;
  filter: brightness(0.8);
}


